  $primary-light: #4dabf5;
  $primary-main: #2196f3;
  $primary-dark: #1769aa;
  $primary-contrastText: #fff;
  $secondary-light: #8ef74e;
  $secondary-main: #72f522;
  $secondary-dark: #4fab17;
  $secondary-contrastText: #000;